@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --body-color: #FFFFFF;
    --primary-color: #C8EE43;
    --secondary-color: #FCAC12;
    --web-blue: #0077FF;
    --web-green: #00A86B;
    --web-red: #FD3C4A;
    --stroke-color: #EDEDED;
    --primary-color-light: #FBFBFB;
    --primary-color-dark: #36393E;
    --bg-dark: #4D4F59;
    --bg-grey: #f0f0f0;
    --text-color: #222831;
    --text-color-darken: #000000;
    --shadow-color: rgba(0, 0, 0, 0.096);
    --shadow-color-light: rgba(240, 240, 240, 0.274);
    --shadow-popup: rgba(0, 0, 0, 0.767);

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--body-color);
    height: 100vh;
    box-sizing: border-box;
}

/* Global style */
a{
    text-decoration: none;
}
.bold{
    font-weight: 700;
}
.red{
    color: var(--web-red);
}
.green{
    color: var(--web-green);
}
.out{
    background-color: var(--web-red);
}
.in{
    background-color: var(--web-green);
}

.content{
    margin-left: 85px;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.main-content{
    padding: 20px;
    margin-top: -20px;
    width: 80%;
}
.right-content{
    padding: 20px;
    width: 20%;
    border-left: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
    box-shadow: 0px 0px 15px 0px var(--shadow-color);
}
button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/* ============== */
.container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    height: 100%;
    width: 50%;
    border-left: 1px solid var(--stroke-color);
    border-right: 1px solid var(--stroke-color);
}
.sidebar {
    width: 50px;
    background-color: var(--body-color);
    color: var(--primary-color-dark);
    padding: 15px;
    top: 0;
    position: fixed;
    height: 100%;
    border-right: 1px solid var(--stroke-color);
    transition: var(--tran-05);
}
.sidebar.active {
    width: 200px;
}
nav{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.sidebar a i{
    font-size: 20px;
}
.sidebar a{
    color: var(--text-color);
    text-decoration: none;  
    padding: 10px 13px; 
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border: 2px solid var(--stroke-color);
    transition: var(--tran-02);
    white-space: nowrap;
    text-align: center;
    transition: var(--tran-02);
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.sidebar a:hover{
    color: var(--text-color-darken);
    background-color: var(--primary-color);
}
.sidebar.active a{
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border: 2px solid var(--stroke-color);
    transition: var(--tran-02);
    white-space: nowrap;
    text-align: center;
}
.sidebar.active a:hover{
    color: var(--text-color-darken);
}
.sidebar a span{
    opacity: 0;
}
.sidebar.active a span{
    opacity: 1;
    margin-left: 10px;
}
.sidebar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}
.sidebar .logo img{
    width: 40px;
    transition: var(--tran-05);
}
.sidebar.active .logo img{
    width: 80px;
}
.hamburger{
    color: var(--text-color-darken);
    border-radius: 100px;
    border: none;
    position: relative;
    padding: 5px 10px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}
.hamburger.active{
    left: 150px;
}



.top-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-total{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    background-color: var(--primary-color-light);
    border: 1px solid var(--stroke-color);
    border-radius: 10px;
    height: 120px;
    box-shadow: 0 10px 30px var(--shadow-color);
}
.icon{
    background-color: var(--bg-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 100px;
}
.current{
    background-color: var(--primary-color-dark);
    border: none;
}
.current .icon{
    color: var(--primary-color);
    background-color: var(--bg-dark);
    box-shadow: 0 2px 5px var(--shadow-color);
}

.balence{
    display: flex;
    flex-direction: column;
}
.balence span{
    color: var(--bg-dark);
    font-size: 13px;
}
.balence .bold{
    font-size: 20px;
}
.current .balence .bold{
    font-size: 20px;
    color: var(--primary-color-light);
}




.table-data{
    padding: 20px;
    border: 1px solid var(--stroke-color);
    border-radius: 10px;
    overflow-y: auto; 
    overflow-x: auto;
    margin-top: 30px;
}
.table-data::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}
.table-data::-webkit-scrollbar-vertical {
    width: 12px; 
    height: 12px; 
}
    
.top-table{
    display: flex;
    justify-content: space-between;
}
.top-table a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--web-green);
    font-size: 12px;
}
table{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}
table td{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
thead tr td{
    background-color: var(--stroke-color);
    color: var(--bg-dark);
    font-size: 13px;
}
tr td{
    padding: 10px;
    color: var(--text-color);
}
tbody tr td{
    font-weight: 600;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid var(--stroke-color);
}
td.date-column{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--primary-color-dark);
}
td.date-column span{
    font-size: 11px;
    font-weight: 500;
    color: var(--bg-dark);
}
tr .indicator{
    padding: 0;
}
tr .indicator p{
    opacity: 0;
}
td a{
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 500;
}


.month-transaction{
    background-color: var(--body-color);
    border: 1px solid var(--stroke-color);
    margin-top: 30px;
    border-radius: 10px;
}
.section-top-month{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}
.section-top-month a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--web-green);
    font-size: 12px;
}
.section-mid-month{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    padding: 0 20px;
}
.section-mid-month .info{
    font-size: 15px;
}
.month-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}
.earn-bar,
.spen-bar{
    font-size: 30px;
    font-weight: 500;
    background-color: var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 100px;
    border-radius: 100px;
}
.section-bottom-month{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--stroke-color);
    padding: 15px;
    border-radius:0 0 10px 10px;
    background-color: var(--primary-color-light);
    font-weight: 500;
}
.total-month{
    width: 100%;
}
.total-month i{
    background-color: var(--body-color);
    box-shadow: 0 3px 10px var(--shadow-color);
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
}



.top-right{
    width: 100%;
    display: flex;
}
.top-right a{
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--primary-color-dark);
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}

.mid-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bar-section{
    background-color: var(--primary-color-light);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.bar-section .info{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color-dark);
    font-weight: 500;
}
.bar{
    background-color: var(--stroke-color);
    padding: 0;
    border-radius: 1px;
    height: 15px;
    display: flex;
    margin-top: 10px;
}
.level-bar{
    height: 100%;
    border-radius: 1px;
}
.level-bar p{
    opacity: 0;
}



/* category */
.form-container{
    width: 100%;
    border-bottom: 2px solid var(--stroke-color);
    padding-bottom: 20px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}
.form-group {
    display: flex;
    flex-direction: column;
}
.container label{
    font-size: 13px;
    color: var(--primary-color-dark);
    font-weight: 500;
}
textarea,input,select{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--stroke-color);
    outline: none;
    transition: var(--tran-01);
    background-color: var(--primary-color-light);
    font-family: 'Poppins', sans-serif;

}
input:focus,textarea:focus,select:focus{
    border: 2px solid var(--web-blue);
}
textarea {
    resize: vertical;
    height: 50px;
    transition: var(--tran-03);
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
textarea:focus{
    height: 60px;
}
.form-group button{
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
fieldset{
    border-radius: 10px;
    padding: 0;
    display: flex;
    border: 2px solid var(--stroke-color);
    flex-direction: column;
    transition: var(--tran-01);
}
.form-group:focus-within fieldset {
    border-color: var(--web-blue);
}
fieldset input{
    border: none;
}
legend{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    color: var(--bg-dark);
}
fieldset input:focus{
    border: none;
}
  
#pemasukan_id,
#pengeluaran_id {
    margin: 0;
}

.radio-button {
    background-color: var(--web-blue);
    font-weight: 600;
    color: var(--primary-color-light);
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 10px 15px;
    font-size: 13px;
}
.radio-button i{
    font-size: 20px;
}
.cover-radio-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cover-radio-button .checked {
    background-color: var(--primary-color);
    transition: var(--tran-03);
    color: var(--primary-color-dark);
    box-shadow: 0 2px 4px var(--shadow-color);
    transform: scale(1.1,1.1);
}
.bottom-right{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.bottom-right a{
    background-color: var(--primary-color-dark);
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
}
.bottom-right a i{
    font-size: 20px;
}


/* form create */
.wallet-popup{
    display: none;
}
.wallet-popup.show{
    background-color: var(--shadow-popup);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallet-popup-content {
    background-color: var(--body-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30%;
    gap: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 850px) {
    .wallet-popup-content {
        max-width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .wallet-popup-content {
        max-width: 70%;
    }
}

.wallet-popup .checked{
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.radio-wallet-option{
    padding: 5px;
    border: 2px solid var(--stroke-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.radio-wallet-option .wallet-type{
    background-color: var(--primary-color-dark);
    border-radius: 3px;
    color: var(--primary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.radio-wallet-option .wallet-option{
    display: flex;
    flex-direction: column;
}
.close{
    background-color: var(--primary-color-dark);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color-light);
    font-weight: 500;
    cursor: pointer;
}
.wrapper .form-container{
    border: none;
    display: flex;
    height: 100%;
}
.container .wrapper .form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.wrapper .form-container button{
    border: none;
}
.wrapper .form-container input,
.wrapper .form-container textarea{
    border-radius: 5px;
}
#popupBtn{
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    border-radius: 5px;
}
.wrapper .form-container .bold{
    font-size: 20px;
    margin: 10px 0px;
}
.wrapper .form-container .top-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-wrapper{
    padding: 10px 20px;
    border-bottom: 1px solid var(--stroke-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}
.top-wrapper a{
    color: var(--primary-color-dark);
    font-size: 20px;
}
.content-wrapper{
    background-color: var(--primary-color);
    padding: 20px;
}
.content-wrapper .content-info{
    color: var(--text-color-darken);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.content-wrapper .times{
    font-size: 13px;
    font-weight: 500;
}
.mid-content{
    padding: 20px;
    margin-top: -35px;
}
.frame{
    color: var(--text-color);
    background-color: var(--primary-color-light);
    border: 1px solid var(--bg-grey);
    border-radius: 20px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
}
.frame-section{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 10px;
}
.frame-section span{
    font-size: 15px;
}
.divider{
    margin-top: 25px;
    border-top: 2px dashed var(--stroke-color);
}
.divider span{
    opacity: 0;
}
.button-back {
    margin: 0;
    align-content: center;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--stroke-color);
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-edit{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.action-edit button{
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-color);
    border: none;
}



/* error */
.empty-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.empty-value img{
    width: 300px;
}
.wrapper .form-container .empty-value .bold{
    font-size: 30px;
    font-weight: 700;
}
.wrapper .form-container .empty-value span{
    font-size: 14px;
    font-weight: 500;
}
.wrapper .form-container .empty-value a{
    color: var(--web-blue);
}

/* The Modal (background) */
.modal{
    display: none;
}
.modal.show {
    display: flex;
    justify-content: center; 
    align-items: start;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: var(--shadow-popup); 
}

.modal-content {
    background-color: var(--primary-color-light);
    margin-top: 0; 
    margin-left: 10%;
    margin-right: 10%; 
    padding: 20px;
    border: 1px solid var(--stroke-color);
    width: 40%; 
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
    top: 0; 
    transform: translateY(0%); 
    border-radius: 0 0 5px 5px;
}
.modal-content .form-group{
    margin-bottom: 7px;
}

@keyframes slideIn {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: 0;
    }
}


@keyframes slideOut {
    from {
        margin-top: 0; 
    }
    to {
        margin-top: -100%; 
    }
}
.botom-modal{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}
.botom-modal button{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
}
.close-modal {
    color: var(--primary-color-dark);
    background-color: var(--stroke-color);
    font-weight: 600;
}
.botom-modal button[type="submit"]{
    background-color: var(--web-blue);
    font-weight: 600;
    color: var(--body-color);
}
